{% extends "uni_admin/base.html" %}
{% block body %}
<div class="card-body p-4 p-md-5 " style="max-width: 90vw;margin: auto; margin-top: 60px;">
<h3 class="mb-4 pb-2 pb-md-0 mb-md-5 ml-4 fw-bold text-center">Concours disponible</h3>
    <hr class="dashed ">
    <table class="table table-dashed table-dark table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">University</th>
            <th scope="col">Location</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Inscription</th>
          </tr>
        </thead>
        <tbody class="tbody-light">
            {% for concour in list_concours %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{concour.name}}</td>
            <td>{{concour.university.name}}</td>
            <td>{{concour.university.location}}</td>
            <td>{{concour.start_date}}</td>
            <td>{{concour.end_date}}</td>
            <td><form action="{% url 'delete_concour' concour.id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary btn-lg text-center" type="submit" value="Delete" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}