{% extends "student/base.html" %}

{% block nav %}

{% include "student/navbar.html" %}

{% endblock %}

{% block body %}
<body style=" background: rgb(2,0,36);
background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgba(26,188,144,1) 50%, rgba(0,212,255,1) 100%); 
">
    <div class="vh-100 d-flex justify-content-center align-items-center mt-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-white">
              <div class="card-body p-5">
                
                <form class="mb-3 mt-md-4" method="post" action="{% url 'login' %}">
          
                  {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <div class="alert alert-success" role="alert">
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      </div>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          {% if form.errors %}
                          <div class="alert alert-danger">
                              {% for field, errors in form.errors.items %}
                                  {{ field }}:
                                  <ul>
                                      {% for error in errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endfor %}
                          </div>
                      {% endif %}
                  <h2 class="fw-bold mb-4">Connectez-vous à votre compte</h2>
             
                  <div class="mb-3">
                    {% csrf_token %}
                  <label for="id_username" class="form-label"> {{ form.username.label}}:</label> 
                  
                      {{ form.username }}
                    {{ form.username.errors }}   
                    
                  </div>
                  <div class="mb-3">
                    {{ form.password.label_tag }} {{ form.password }}

                    {{ form.password.errors }} 
                    <!-- <label for="password" class="form-label ">Mot de Pass</label>
                    <input type="password" class="form-control" id="password" placeholder="*******"> -->
                  </div>
                  <p class="small"><a class="text-primary" href="forget-password.html">Oublier votre Mot de pass?</a></p>
                  <div class="d-grid">
                    <button class="btn btn-outline-dark" type="submit">Se connecter</button>
                  </div>
                </form>
                <div>
                  <p class="mb-0  text-center">Vous n'avez pas de compte? <a href="{% url 'register' %}" class="text-primary fw-bold">Creer</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {% endblock %}