{% extends "student/base.html" %}

{% block nav %}

{% include "student/navbar.html" %}


{% endblock %}

{% block body %}
<body style="  background: rgb(2,0,36);
background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgba(26,188,144,1) 50%, rgba(0,212,255,1) 100%);">
{% if success %}
<div class="alert alert-success" role="alert">
  Etudiant a ete Créer
</div>
{% else %}
<div class="vh-80">
   <div class="container py-5 h-80">
      <div class="row justify-content-center align-items-center ">
         <div class="col-12 col-lg-9 col-lg-7">
            <div class="card shadow-2-strong card-registration " style="border-radius: 15px;">
               <div class="card-body p-4 p-md-5 ">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 ml-4 fw-bold text-center">Créer Votre Compte</h3>
                  <hr class="dashed ">
                  <form action="{% url 'register' %}" method="POST">
                    <div class="grid" >
                     {% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
            {{ field }}:
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endif %}

                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <p class="fw-bold fs-5">Nom et Prénom:</p>
                        <div class="row mb-4">
                           <div class="col ">
                              <label for="{{ form.cne.id_for_label }}" class=" mr-4">CNE *</label>
                              {{ form.cne.errors }}
                              {{ form.cne }}
                            
                           </div>
                           </div>
                           <div class="row mb-4">
                              <div class="col ">
                                 <label for="{{ form.prenom.id_for_label }}" class=" mr-4 mb-4">Prénom *</label>
                                 {{ form.prenom.errors }}
                                 {{ form.prenom }}
                              
                              </div>
                              <div class="col">
                                 <label for="{{ form.nom.id_for_label }}" class=" mr-4">Nom *</label>
                                 {{ form.nom.errors }}
                                 {{ form.nom }}
                             
                              </div>
                           </div>
                           <div class="row mb-5">
                              <div class="col">
                                 <label for="{{ form.DateNaissance.id_for_label }}" class=" mr-4">Date de Naissance *</label>
                                  {{ form.DateNaissance.errors }}
                                  {{ form.DateNaissance }}
                               </div>  
                           </div>
                           
                        </div>
                        <div class="row mb-4">
                          <p class="fw-bold fs-5">Address Electronique:</p>
                          <div class="col">
                            {{ form.email.errors }}
                            {{ form.email }}
                            
                         </div>
                         <label for="{{ form.email.id_for_label }}" class=" mr-4"></label>
                        </div>
                        <div class="row mb-4">
                          <p class="fw-bold fs-5">Créer Votre Mot de Pass:</p>
                          <div class="col">
                           <label for="{{ form.email.id_for_label }}" class=" mr-4 mb-4">Mot de Pass *</label>
                            {{ form.password.errors }}
                            {{ form.password }}
                         </div>                      
                         <div class="col">
                           <label for="{{ form.email.id_for_label }}" class=" mr-4 ">Confirmer *</label>
                           {{ form.confirmpassword.errors }}
                           {{ form.confirmpassword }}
                        </div>
                        </div>
                        <div class="row mb-4">
                           <p class="fw-bold fs-5">Votre Numero</p>
                                               
                          <div class="col">
                            <label for="{{ form.Numerotelephone.id_for_label }}" placeholder="testing">Numéro de Telephone *</label>
                            {{ form.Numerotelephone.errors }}
                            {{ form.Numerotelephone }}
                          
                         </div>
                         </div>
                     </div>
                    
               </div>
               <div class="text-center p-4">
               <input class="btn btn-primary btn-lg text-center" type="submit" value="Créer votre compte" />
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div> 
  {% endif %}
{% endblock %}