
<div class="d-flex flex-column vh-100 flex-shrink-0 text-white sidebar-height bg-secondary" style="width: 240px;"> <a href="/" class="d-flex justify-content-center p-2 text-white text-decoration-none bg-secondary"><span class="fs-4">My Concour</span></a>
    <hr class="fw-bold mb-5">
    <ul class="nav nav-pills flex-column justify-content-start " style="width: 240px;">
        <li class="nav-item "> <a href="{% url 'studentpage' %}" class="nav-link text-white mx-3 mb-3" aria-current="page"> <i class="fa fa-home"></i><span class="ms-2">List Concours</span> </a> </li>
        <li> <a href="#" class="nav-link text-white mx-3 mb-3"> <i class="fa fa-university" aria-hidden="true"></i>
            <span class="ms-2">Universite</span> </a> </li>
        <li> <a href="#" class="nav-link text-white mx-3 mb-3"> <i class="fa fa-first-order"></i><span class="ms-2">Status</span> </a> </li>
      
    </ul>
    <div class="mt-auto">
        <hr class="fw-bold">
        <div class="dropdown d-flex align-items-center"> 
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle ms-4 mb-4" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa fa-user" aria-hidden="true"></i> <strong class="ms-3">{{ etudiant.nom }} {{ etudiant.prenom }}</strong> </a>
            <ul class="dropdown-menu dropdown-menu-dark text-shadow position-absolute bottom-0" aria-labelledby="dropdownUser1">
    
               
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
        </div>
    </div>
   
  </div>