body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%) !important; 
}
.h2{
    font-weight: 900 !important;
}
img{
    width: 250px;
}
.card{
    margin-right: 20px;
    margin-left:20px;
}
.nav-link:hover{
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}
.background{
  background-image: url('/static/img/vecteezy_graduation-background-2_dy0421_generated.jpg') !important;
  background-size:90%;
  background-repeat: no-repeat;

} 
.profile{
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    object-position: center;
}
