body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: rgb(2,0,36);
    background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgba(26,188,144,1) 50%, rgba(0,212,255,1) 100%) o !important; 
}
.h2{
    font-weight: 900 !important;
}
img{
    width: 250px;
}
.card{
    margin-right: 20px;
    margin-left:20px;
}
.nav-link:hover{
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}
